<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - TastyVault</title>
  <script src="https://kit.fontawesome.com/d850c3fff6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/TastyVault.styles.css" asp-append-version="true" />
</head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2 border-end position-fixed top-0 start-0 z-1 h-100">

        <div class="logo-wrap">
          <img class="img-fluid" src="~/img/logo.png" />
        </div>

        <p class="m-0 mt-2 text-main"><strong>TRANG CHỦ</strong></p>
        <ul class="navbar-nav ms-2">
          <li class="nav-item">
            <a class="nav-link text-sub" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-sub" asp-area="" asp-controller="Categories" asp-action="Index">Mục lục món ăn</a>
          </li>
        </ul>

        <p class="m-0 mt-2 text-main"><strong>BÀI VIẾT</strong></p>
        <ul class="navbar-nav ms-2">
          <li class="nav-item">
            <a class="nav-link text-sub" asp-area="" asp-controller="Home" asp-action="Index">Tạo bài viết</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-sub" asp-area="" asp-controller="Home" asp-action="Privacy">Bài viết của bạn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-sub" asp-area="" asp-controller="Home" asp-action="Privacy">Blog chia sẻ</a>
          </li>
        </ul>

        <p class="m-0 mt-2 text-main"><strong>THỰC ĐƠN</strong></p>
        <ul class="navbar-nav ms-2">
          <li class="nav-item">
            <a class="nav-link text-sub" asp-area="" asp-controller="Home" asp-action="Index">Thực đơn gợi ý</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-sub" asp-area="" asp-controller="Home" asp-action="Privacy">Thực đơn của bạn</a>
          </li>
        </ul>
      </div>

      <div class="col-10 px-0 content-wrap">
        <header class="header-wrap clearfix">

          <ul class="nav float-start">
            <li class="nav-item">
              <a class="nav-link" asp-action="create" asp-controller="Categories">Tạo danh mục</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-action="create" asp-controller="Ingredients">Tạo nguyên liệu</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
              <li class="nav-item">
                <a class="nav-link" asp-action="create" asp-controller="Recipes">Tạo công thức</a>
              </li>
            }
          </ul>

          @await Html.PartialAsync("_LoginPartial")
          @* khi người dùng đã đăng nhập*@
          @* <div class="dropdown" style="background: url('/img/monan.jpg') center no-repeat">
          <button class="btn btn-secondary avt-wrap rounded-circle float-end my-2 me-2" style="background: url('/img/monan.jpg') center no-repeat" data-bs-toggle="dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Trang cá nhân</a>
          <a class="dropdown-item text-danger" href="#">Đăng xuất</a>
          </div>
          </div>*@
        </header>

        <main role="main" class="pb-3 bg-main">
          <div class=" container-fluid pt-3">
            @RenderBody()
          </div>
        </main>

        <footer class="border-top footer text-muted z-3 py-5">
          <div class="container text-center">
            &copy; @DateTime.Now - TastyVault - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
