@model TastyVault.Views.Menus._RecipePartialModel;
@{
}

<p>Thêm món ăn</p>
<button type="button" onclick="AddRecipe()">Thêm</button>
<button type="button" onclick="DeleteRecipe()">Xóa</button>
<div class="recipes-list"></div>

