@page
@model ForgotPasswordModel
@{
  ViewData["Title"] = "Quên mật khẩu?";
}
<div class="text-center">
  <h1 class="text-center fw-bolder">Quên mật khẩu ?</h1>
  <i class="my-3 d-block opacity-50">Thế ăn cơm có quên không?</i>
  <h2 class="fw-light">Thôi thì ngồi chill nhớ lại chứ biết sao giờ :3</h2>
  <img src="~/uploads/forgotpass.webp" class="w-50" />
  <p>
    Hoặc là tạo tài khoản mới
    <a asp-page="Register" asp-area="Identity">ở đây</a>
  </p>
</div>