:root {
  --primary: rgb(93,123,111);
  --secondary: rgb(164,195,162);
  --thirdcolor: rgb(176,212,184);
  --fourthcolor: rgb(234,231,214);
  --fifthcolor: rgb(215,249,250);
  --bgcolor: rgb(244,246,252);
}

body {
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
.text-main {
  color: var(--primary)
}

.text-sub {
  color: var(--secondary);
}

.bg-main {
  background-color: var(--bgcolor);
  color: black;
}

.bg-prime {
  background-color: var(--primary);
  color: white;
}

.bg-second{
  background-color: var(--secondary)
}

.slider {
  background-color: var(--fifthcolor);
}

.btn-outline-main{
  border-color: #f4f6fc;
}

@media (min-width:768px){
  .content-wrap {
    transform: translateX(20%);
  }
}

.carousel-control-wrap {
  width: 41.5%;
}

/* tinh chinh 1 so img*/
.bg-img {
  background-size: cover;
  background-position: center;
}

.hot-blog-img {
  min-height: 500px;
}

.recipe-img {
  min-height: 250px;
}

.post-img {
  min-height: 300px;
}

.hot-recipe-rectangle {
  margin-left: -12px
}

/**/
.header-wrap {
  min-height: 60px;
  border-bottom: 1px solid #ccc;
  
}

.avt-wrap {
  width: 50px;
  height: 50px;
}

.btn:active {
  transform: scale(0.9);
}

.btn:hover{
  background-color: var(--secondary);
  color: white;
  border-color: var(--secondary);
}

.selected-nav-link{
  background-color: var(--secondary);
  color: #fff;
  text-align: center;
}

.category-link{
  border-radius: 32px;
}

/*làm thanh hr chắn button của form đăng nhập đăng ký*/
.hr-40{
  width: 40%
}

.hr-text-center{
  left: 50%;
  transform: translate(-50%,-56%)
}

.category-recipe-index-outer{
  transform: translateY(50%)
}

.category-recipe-index-inner{
   left: 50%;
   transform: translateX(-50%);
   top: -50%;
}

.recipe-list{
  margin-top: 66px;
}

.recipe-img-btn{
  width: 10%;
}

.to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  animation: umbalaxibua 1s ease;
}

@keyframes umbalaxibua{
  0%{
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.form-btn button:hover{
  color: white;
}

.tab-active{
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.tab-item {
  cursor: pointer;
}
