@model TastyVault.Views.Recipes._CookStepPartialModel
@{
}


<p>Thêm bước nấu ăn</p>
<button type="button" onclick="AddCookStep()">Thêm</button>
<button type="button" onclick="DeleteCookStep()">Xóa</button>
<div class="cookstep-list">
</div>

<p>Thêm nguyên liệu</p>
<button type="button" onclick="AddIngredient()">Thêm</button>
<button type="button" onclick="DeleteIngredient()">Xóa</button>
<div class="ingredient-list">
</div>