@model TastyVault.Models.Post

@{
    ViewData["Title"] = "Xóa";
}

<h1>Xóa bài viết</h1>

<h3>Bạn có chắc chắn muốn xóa bài viết ?</h3>
<div>  
    <form asp-action="Delete">
        <input type="hidden" asp-name="id" value="@Model.Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Quay lại</a>
    </form>
</div>
